In [170]:
import pandas as pd
import numpy as np
data = pd.read_csv('./final_preprocessed_Data_no_STG.csv')

In [160]:
data

,Unnamed: 0,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
0,0,5V01,AL19550015VAL4A00,1,2021-03-01,25,3,1.000000e-08,5.388889,6.826336,1
1,1,5V24,AP21560017TC2SA00,0,2021-03-01,25,3,-1.842068e+01,34.400000,0.000000,2
2,3,5V06,AP26545021WWPPA02,0,2019-07-01,5,7,-1.842068e+01,0.000000,10.465589,3
3,8,5V13,AL26560018HHT2A00,0,2020-06-01,16,6,-1.842068e+01,0.444444,0.640081,4
4,10,5V01,AP20555017VSN5AQ0,0,2020-10-01,20,10,-1.842068e+01,0.000000,10.802004,5
...,...,...,...,...,...,...,...,...,...,...,...
1269211,2961491,5V16,AP23540019YUSAA02,0,2021-08-01,30,8,-1.842068e+01,10.578947,5.883495,24069
1269212,2961494,5V30,AP23540019YUSAA02,0,2020-09-01,19,9,-1.842068e+01,2.052632,2.982181,19709
1269213,2961497,5V32,AP25555020VWPPA02,0,2021-04-01,26,4,-1.842068e+01,0.000000,0.551871,17761
1269214,2961499,5V27,AP25555019WQT5A02,0,2021-03-01,25,3,-1.842068e+01,0.000000,0.000000,34944
1269215,2961500,5V18,AP18565015TTT2A00,0,2021-02-01,24,2,-1.842068e+01,0.823529,0.747530,32933

Removes timeseries where all Volumes are 0

In [171]:
data["volume_by_material"] = data.groupby(["time_idx", "Material"], observed=True).Volume.transform("sum")

In [172]:
data

,Unnamed: 0,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries,volume_by_material
0,0,5V01,AL19550015VAL4A00,1,2021-03-01,25,3,1.000000e-08,5.388889,6.826336,1,97
1,1,5V24,AP21560017TC2SA00,0,2021-03-01,25,3,-1.842068e+01,34.400000,0.000000,2,688
2,3,5V06,AP26545021WWPPA02,0,2019-07-01,5,7,-1.842068e+01,0.000000,10.465589,3,0
3,8,5V13,AL26560018HHT2A00,0,2020-06-01,16,6,-1.842068e+01,0.444444,0.640081,4,4
4,10,5V01,AP20555017VSN5AQ0,0,2020-10-01,20,10,-1.842068e+01,0.000000,10.802004,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1269211,2961491,5V16,AP23540019YUSAA02,0,2021-08-01,30,8,-1.842068e+01,10.578947,5.883495,24069,201
1269212,2961494,5V30,AP23540019YUSAA02,0,2020-09-01,19,9,-1.842068e+01,2.052632,2.982181,19709,39
1269213,2961497,5V32,AP25555020VWPPA02,0,2021-04-01,26,4,-1.842068e+01,0.000000,0.551871,17761,0
1269214,2961499,5V27,AP25555019WQT5A02,0,2021-03-01,25,3,-1.842068e+01,0.000000,0.000000,34944,0
1269215,2961500,5V18,AP18565015TTT2A00,0,2021-02-01,24,2,-1.842068e+01,0.823529,0.747530,32933,14

In [161]:
data2 = data[data.groupby(["timeseries"], observed=True).Volume.transform("mean") != 0]

In [162]:
data.groupby(["timeseries"], observed=True).Volume.transform("mean")

0          16.277778
1           0.000000
2           0.000000
3           0.111111
4           0.000000
             ...
1269211     0.166667
1269212     2.111111
1269213     0.000000
1269214     7.444444
1269215     6.333333
Name: Volume, Length: 1269216, dtype: float64

In [163]:
data2.groupby(["timeseries"], observed=True).Volume.transform("mean")

0          16.277778
3           0.111111
5           1.972222
6           1.888889
7           0.055556
             ...
1269210    14.611111
1269211     0.166667
1269212     2.111111
1269214     7.444444
1269215     6.333333
Name: Volume, Length: 724680, dtype: float64

In [164]:
data2

,Unnamed: 0,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
0,0,5V01,AL19550015VAL4A00,1,2021-03-01,25,3,1.000000e-08,5.388889,6.826336,1
3,8,5V13,AL26560018HHT2A00,0,2020-06-01,16,6,-1.842068e+01,0.444444,0.640081,4
5,11,5V18,AP17565015TWTRA00,0,2019-10-01,8,10,-1.842068e+01,0.000000,2.129941,6
6,13,5V07,AL18570014TAW4A00,0,2020-07-01,17,7,-1.842068e+01,0.307692,2.724988,7
7,14,5V32,AL19560015HAA4A00,0,2020-09-01,19,9,-1.842068e+01,0.142857,0.272109,8
...,...,...,...,...,...,...,...,...,...,...,...
1269210,2961490,5V35,AP22560017VQT5A00,0,2020-02-01,12,2,-1.842068e+01,123.818182,0.421326,13286
1269211,2961491,5V16,AP23540019YUSAA02,0,2021-08-01,30,8,-1.842068e+01,10.578947,5.883495,24069
1269212,2961494,5V30,AP23540019YUSAA02,0,2020-09-01,19,9,-1.842068e+01,2.052632,2.982181,19709
1269214,2961499,5V27,AP25555019WQT5A02,0,2021-03-01,25,3,-1.842068e+01,0.000000,0.000000,34944
1269215,2961500,5V18,AP18565015TTT2A00,0,2021-02-01,24,2,-1.842068e+01,0.823529,0.747530,32933

Filter to last 6 indexes

In [168]:
data_last_6_idx = data2.loc[data2['time_idx'].isin([30, 31, 32, 33, 34])]

In [166]:
data_last_6_idx

,Unnamed: 0,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
11,23,5V18,AL14580013TAW4A00,0,2021-08-01,30,8,-18.420681,0.000000,0.752964,12
20,38,5V01,AP21560016TCMTA00,0,2021-09-01,31,9,-18.420681,0.000000,7.757156,21
46,101,5V31,AP18555015VSP5A00,0,2021-10-01,32,10,-18.420681,0.000000,1.086221,47
50,110,5V11,AL22555017VAXWA02,0,2021-09-01,31,9,-18.420681,10.000000,3.184836,51
52,116,5V36,AP21565015HQT5A00,0,2021-08-01,30,8,-18.420681,10.250000,3.481025,53
...,...,...,...,...,...,...,...,...,...,...,...
1269194,2961460,5V01,AP21560016VQT6A02,0,2022-01-01,35,1,-18.420681,0.000000,0.000000,15895
1269200,2961474,5V27,AL18565014TAM4A00,0,2021-08-01,30,8,-18.420681,0.000000,0.000000,27128
1269202,2961481,5V11,AP22555016VWXSA02,0,2021-10-01,32,10,-18.420681,0.000000,6.001982,29940
1269205,2961485,5V18,AP23560018WQT5A02,0,2021-10-01,32,10,-18.420681,0.000000,1.977767,17950
1269211,2961491,5V16,AP23540019YUSAA02,0,2021-08-01,30,8,-18.420681,10.578947,5.883495,24069

In [169]:
data[data.groupby(["timeseries"], observed=True).Volume.transform("min") != 0]

Empty DataFrame
Columns: [Unnamed: 0, Plant, Material, Volume, Date, time_idx, month, log_volume, avg_volume_by_material, avg_volume_by_plant, timeseries]
Index: []

In [158]:
data.loc[data['time_idx'].isin([34])][data.loc[data['time_idx'].isin([34])].groupby(["timeseries"], observed=True).Volume.transform("min") != 0]

,Unnamed: 0,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
66,141,5V21,AP19555016HWTRA00,8,2021-12-01,34,12,2.079442,41.571429,3.656357,67
70,156,5V36,AP22550018VWPRA02,15,2021-12-01,34,12,2.708050,36.857143,6.743716,71
77,170,5M01,AP29530020YUVPA02,28,2021-12-01,34,12,3.332205,1.894737,84.675345,78
200,455,5V01,AP24535020YQPRA02,4,2021-12-01,34,12,1.386294,7.800000,6.447996,200
263,599,5V35,AP21560016VHTRA00,31,2021-12-01,34,12,3.433987,14.214286,3.524057,263
...,...,...,...,...,...,...,...,...,...,...,...
1268160,2959058,5V21,AP18570013TQT5A00,2,2021-12-01,34,12,0.693147,14.800000,3.656357,31844
1268326,2959421,5V35,AP23555018VHTRA00,17,2021-12-01,34,12,2.833213,1.571429,3.524057,6103
1268542,2959957,5V13,AP22545017YULAA02,4,2021-12-01,34,12,1.386294,35.285714,2.285714,996
1268783,2960487,5V36,AP23555017YQPRA02,29,2021-12-01,34,12,3.367296,17.450000,6.743716,10555
1269092,2961179,5V36,AP22545018YQPRA02,24,2021-12-01,34,12,3.178054,55.904762,6.743716,6986

In [141]:
data2 = data[data.groupby(["timeseries"], observed=True).Volume.transform("mean") != 0]

timeseries_to_keep = data_last_5_idx.loc[data_last_5_idx['Volume'].isin([0]) == False]

AttributeError: 'SeriesGroupBy' object has no attribute 'isin'

In [135]:
timeseries_to_keep.loc[timeseries_to_keep['time_idx'].isin([30, 31, 32, 33, 34, 35])]["Volume"].min()

1

In [136]:
list_timerseries_to_keep = timeseries_to_keep['timeseries'].unique()

In [137]:
list_timerseries_to_keep

array([   67,    71,    78, ..., 28439, 16939, 16132], dtype=int64)

In [138]:
filtered = data2.loc[data2['timeseries'].isin(list_timerseries_to_keep)]

In [140]:
# THIS SHOULD NOT BE 0
filtered.loc[filtered['time_idx'].isin([30, 31, 32, 33, 34, 35])]["Volume"].min()

0

In [103]:
data3[data3.groupby(["timeseries"], observed=True).Volume.transform("mean") != 0]

SyntaxError: invalid syntax (Temp/ipykernel_27628/642827704.py, line 1)

In [87]:
timeseries_to_keep

,Unnamed: 0,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
50,110,5V11,AL22555017VAXWA02,0,2021-09-01,31,9,-18.420681,10.000000,3.184836,51
52,116,5V36,AP21565015HQT5A00,0,2021-08-01,30,8,-18.420681,10.250000,3.481025,53
54,118,5V01,AP25540022YWPRA02,0,2021-10-01,32,10,-18.420681,11.000000,14.895992,55
57,126,5V11,AP22555017HC2SA00,0,2021-10-01,32,10,-18.420681,0.100000,6.001982,58
66,141,5V21,AP19555016HWTRA00,8,2021-12-01,34,12,2.079442,41.571429,3.656357,67
...,...,...,...,...,...,...,...,...,...,...,...
1269119,2961269,5M01,AP20560015VQT5A00,9,2021-08-01,30,8,2.197225,0.785714,113.952268,35114
1269121,2961283,5M01,AP18565015VSP5AA2,21,2021-09-01,31,9,3.044522,1.411765,127.964892,22067
1269127,2961293,5V35,AP22560018VWPRA02,24,2021-09-01,31,9,3.178054,71.142857,5.522757,28565
1269144,2961332,5V31,AP22545019VWPRA02,0,2022-01-01,35,1,-18.420681,0.000000,0.000000,12238
1269194,2961460,5V01,AP21560016VQT6A02,0,2022-01-01,35,1,-18.420681,0.000000,0.000000,15895

In [88]:
timeseries_to_keep.groupby(["timeseries"], observed=True).Volume.transform("mean")

50          3.500000
52          2.000000
54          0.666667
57          1.000000
66         14.333333
             ...
1269119    66.000000
1269121    93.666667
1269127     6.000000
1269144     0.666667
1269194    53.333333
Name: Volume, Length: 59196, dtype: float64

In [107]:
arr_good_timeseries = any_zeroes['timeseries'].unique()

In [108]:
final_data = data2.loc[data2['timeseries'].isin(arr_good_timeseries)]

In [69]:
final_data = data2.loc[data2['timeseries'].isin(list(set(timeseries_to_keep["timeseries"])))]

In [93]:
final_data.groupby(["timeseries"], observed=True).Volume.transform("mean").min()

0.027777777777777776

In [95]:
final_data.loc[data2['time_idx'].isin([30, 31, 32, 33, 34, 35])].groupby(["timeseries"], observed=True).Volume.transform("mean").min()

0.16666666666666666

In [ ]:
data.loc[data['time_idx'].isin([30, 31, 32, 33, 34, 35])].groupby(["timeseries"], observed=True).Volume.transform("mean") == 0

In [25]:
timeseries_drop = data.loc[data['time_idx'].isin([30, 31, 32, 33, 34, 35])][data.loc[data['time_idx'].isin([30, 31, 32, 33, 34, 35])].groupby(["timeseries"], observed=True).Volume.transform("mean") == 0]

In [26]:
timeseries_drop

,Unnamed: 0,Plant,Material,Volume,Date,time_idx,month,log_volume,avg_volume_by_material,avg_volume_by_plant,timeseries
11,23,5V18,AL14580013TAW4A00,0,2021-08-01,30,8,-18.420681,0.000000,0.752964,12
20,38,5V01,AP21560016TCMTA00,0,2021-09-01,31,9,-18.420681,0.000000,7.757156,21
24,47,5500,AP20565016TC2WA00,0,2021-09-01,31,9,-18.420681,0.000000,127.415233,25
36,70,5V10,AP23545017YULSA00,0,2022-01-01,35,1,-18.420681,0.000000,0.000000,37
46,101,5V31,AP18555015VSP5A00,0,2021-10-01,32,10,-18.420681,0.000000,1.086221,47
...,...,...,...,...,...,...,...,...,...,...,...
1269200,2961474,5V27,AL18565014TAM4A00,0,2021-08-01,30,8,-18.420681,0.000000,0.000000,27128
1269202,2961481,5V11,AP22555016VWXSA02,0,2021-10-01,32,10,-18.420681,0.000000,6.001982,29940
1269205,2961485,5V18,AP23560018WQT5A02,0,2021-10-01,32,10,-18.420681,0.000000,1.977767,17950
1269208,2961488,5V24,AP25555018VWPPA02,0,2022-01-01,35,1,-18.420681,0.000000,0.000000,27245
1269211,2961491,5V16,AP23540019YUSAA02,0,2021-08-01,30,8,-18.420681,10.578947,5.883495,24069

In [30]:
list_to_drop = list(set(timeseries_drop["timeseries"]))

In [38]:
list_to_drop

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 10,
 11,
 12,
 14,
 15,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 31,
 32,
 33,
 37,
 39,
 40,
 41,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 73,
 74,
 76,
 77,
 79,
 81,
 83,
 84,
 85,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100,
 102,
 103,
 105,
 106,
 107,
 108,
 109,
 113,
 114,
 115,
 116,
 119,
 120,
 122,
 126,
 127,
 128,
 130,
 131,
 132,
 133,
 135,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 145,
 146,
 147,
 149,
 150,
 151,
 153,
 154,
 155,
 157,
 161,
 162,
 164,
 165,
 166,
 167,
 169,
 170,
 171,
 172,
 173,
 174,
 176,
 177,
 178,
 180,
 182,
 183,
 189,
 190,
 191,
 192,
 193,
 194,
 196,
 197,
 198,
 199,
 202,
 203,
 204,
 206,
 207,
 209,
 210,
 211,
 212,
 213,
 215,
 220,
 222,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 232,
 233,
 236,
 238,
 242,
 244,
 245,
 246,
 247,
 248,
 250,
 251,
 252,
 253,
 254,
 256,
 258,
 260,
 261,
 262,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 274,
 275,
 276,
 277,
 278,
 281,
 282,
 283,
 285,
 286,
 287,
 288,
 290,
 291,
 293,
 294,
 295,
 296,
 297,
 299,
 300,
 301,
 302,
 303,
 306,
 307,
 308,
 309,
 310,
 311,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 330,
 332,
 333,
 334,
 335,
 338,
 339,
 340,
 342,
 343,
 344,
 345,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 358,
 360,
 361,
 362,
 364,
 365,
 367,
 368,
 369,
 370,
 371,
 372,
 374,
 375,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 394,
 396,
 397,
 398,
 399,
 400,
 401,
 403,
 405,
 406,
 407,
 409,
 410,
 411,
 412,
 413,
 416,
 419,
 420,
 421,
 422,
 425,
 426,
 427,
 429,
 430,
 432,
 434,
 435,
 436,
 439,
 440,
 442,
 443,
 444,
 445,
 446,
 448,
 449,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 459,
 461,
 464,
 465,
 466,
 467,
 469,
 470,
 471,
 472,
 474,
 476,
 477,
 478,
 480,
 482,
 483,
 484,
 486,
 488,
 489,
 491,
 494,
 495,
 497,
 498,
 499,
 500,
 501,
 503,
 505,
 506,
 508,
 509,
 510,
 511,
 513,
 514,
 515,
 516,
 517,
 518,
 520,
 522,
 523,
 524,
 525,
 528,
 531,
 532,
 533,
 534,
 540,
 542,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 555,
 557,
 558,
 559,
 560,
 562,
 563,
 565,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 579,
 580,
 581,
 582,
 584,
 589,
 590,
 594,
 596,
 597,
 598,
 599,
 600,
 603,
 604,
 606,
 609,
 611,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 625,
 626,
 627,
 628,
 629,
 632,
 633,
 634,
 635,
 636,
 637,
 640,
 641,
 643,
 644,
 645,
 646,
 647,
 648,
 650,
 652,
 654,
 655,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 668,
 671,
 672,
 673,
 675,
 676,
 677,
 678,
 679,
 681,
 682,
 683,
 684,
 686,
 687,
 688,
 689,
 690,
 691,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 703,
 707,
 708,
 709,
 710,
 711,
 712,
 716,
 717,
 719,
 720,
 721,
 722,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 753,
 754,
 755,
 758,
 759,
 760,
 761,
 763,
 764,
 765,
 767,
 768,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 779,
 780,
 782,
 783,
 785,
 786,
 789,
 790,
 791,
 792,
 793,
 794,
 796,
 797,
 798,
 799,
 801,
 802,
 803,
 804,
 805,
 806,
 810,
 811,
 812,
 814,
 815,
 816,
 817,
 819,
 820,
 821,
 823,
 826,
 827,
 828,
 829,
 830,
 832,
 834,
 836,
 837,
 840,
 841,
 844,
 845,
 846,
 847,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 857,
 860,
 861,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 872,
 873,
 874,
 875,
 879,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 896,
 898,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 913,
 914,
 917,
 918,
 920,
 921,
 923,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 949,
 950,
 951,
 952,
 954,
 955,
 956,
 957,
 960,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 971,
 974,
 975,
 976,
 977,
 978,
 982,
 983,
 985,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 997,
 999,
 1000,
 1001,
 1003,
 1004,
 1005,
 1006,
 1007,
 1009,
 1010,
 1012,
 1013,
 1014,
 1015,
 1016,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1028,
 1029,
 1030,
 1031,
 1032,
 1035,
 1036,
 1038,
 1039,
 1040,
 1041,
 1042,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1055,
 1056,
 1057,
 1058,
 1061,
 1062,
 1063,
 1064,
 1066,
 1067,
 1068,
 1069,
 1070,
 1072,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1082,
 1083,
 1085,
 1086,
 1087,
 1088,
 1090,
 1092,
 1093,
 1094,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1107,
 1109,
 1111,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1121,
 1122,
 1123,
 1124,
 1126,
 1129,
 1130,
 1132,
 1133,
 1139,
 1140,
 1141,
 1143,
 1146,
 1147,
 1149,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1160,
 1161,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1172,
 1174,
 1175,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1184,
 1185,
 1186,
 1188,
 1190,
 1191,
 1193,
 1194,
 1196,
 1197,
 1198,
 1200,
 1202,
 1203,
 1206,
 1207,
 1208,
 1209,
 1210,
 1213,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1225,
 1226,
 1227,
 1228,
 1229,
 1230,
 1231,
 1233,
 1234,
 1236,
 1237,
 1238,
 1239,
 1243,
 1244,
 1245,
 1246,
 1248,
 1249,
 1250,
 1252,
 1253,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1263,
 1264,
 1265,
 1266,
 1267,
 1270,
 1271,
 1272,
 1273,
 1279,
 1280,
 1281,
 1283,
 1284,
 1287,
 1288,
 1290,
 1291,
 1292,
 1293,
 1296,
 1297,
 1298,
 1302,
 1304,
 1305,
 1308,
 1309,
 1310,
 1311,
 1312,
 1313,
 1314,
 1317,
 1318,
 1320,
 1321,
 1323,
 1324,
 1325,
 1326,
 1327,
 1329,
 1331,
 1332,
 1333,
 1334,
 1336,
 1337,
 1338,
 1340,
 1342,
 1345,
 1348,
 1350,
 1351,
 1353,
 1354,
 1355,
 1356,
 1358,
 1359,
 1360,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1370,
 1372,
 1373,
 1375,
 1376,
 1377,
 1379,
 1380,
 1381,
 1384,
 1385,
 1386,
 1387,
 1388,
 1389,
 1390,
 1391,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1399,
 1400,
 1401,
 1403,
 1404,
 1405,
 ...]

In [40]:
data["timeseries"].isin(list_to_drop)

0           True
3           True
5          False
6           True
7           True
           ...
1269210    False
1269211     True
1269212    False
1269214     True
1269215     True
Name: timeseries, Length: 724680, dtype: bool

In [39]:
data.drop(data["timeseries"].isin(list_to_drop))

KeyError: '[ True  True False ... False  True  True] not found in axis'

In [44]:
data = data.loc[data["timeseries"].isin(list_to_drop) == False]

In [109]:
final_data.to_csv('final_preprocessed_Data_removed_zeroes_atempt_4.csv')