<ins>Logical Workflow PA Project</ins>

0. Call Data from SQL Server and save to local .pkl. Filter by TBM 1 and time span ('2022/02/01', '2022/04/01')
1. Join data for a complete dataset
2. Initial Filter (by Equipment ID and remove Trial Recipes), key generation, cycle time generation and EDA

In [4]:
import pandas as pd
from collections import Counter
from helpers import TBM, bcolors, Data_Functions
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

DF = Data_Functions()
TBM = TBM()
p = bcolors()

In [7]:
#df_tbm = pd.read_pickle("./df_tbm_master.pkl")
#df_alarm = pd.read_pickle("./pkl_old/-df_alarm_master")
#df_map = pd.read_pickle("./pkl_old/df_alarm_map_master.pkl") 
df_tbm = pd.read_pickle("./pkl/df_tbm_master.pkl")
df_alarm = pd.read_pickle("./pkl/df_alarm_master.pkl")
df_map = pd.read_pickle("./pkl/df_map_master.pkl")#./pkl/df_alarm_map_master


df_tbm2 = pd.read_pickle("./pkl/tbm_data.pkl")
df_alarm2 = pd.read_pickle("./pkl/tbm_alarm.pkl")
df_map2 = pd.read_pickle("./pkl/alarm_map.pkl")

In [8]:
p.printg(f'TBM 1 start date: {p.ENDC} {df_tbm.ProducedOn.min()}{p.GREEN}  End Date: {p.ENDC} {df_tbm.ProducedOn.max()}')
p.printg(f'TBM 2 start date: {p.ENDC} {df_tbm2.ProducedOn.min()}{p.GREEN}  End Date: {p.ENDC} {df_tbm2.ProducedOn.max()}')
p.printg(f'length 1: {p.ENDC} {len(df_tbm)}')
p.printg(f'length 2: {p.ENDC} {len(df_tbm2)}')

TBM 1 start date:  2022-02-01 06:00:16  End Date:  2022-05-16 05:59:38
TBM 2 start date:  2022-05-15 06:00:02  End Date:  2022-05-16 05:59:38
length 1:  1326286
length 2:  11322

In [9]:
df_tbm_join = pd.concat([df_tbm, df_tbm2]).drop_duplicates()

In [10]:
p.printg(f'length join: {p.ENDC} {len(df_tbm_join)}')

length join:  1326286

In [34]:
pd.concat([df_map,df_map2]).drop_duplicates(keep=False)

,MessageID,PlcNr,Type,Name,Solution,EquipmentID
9720,9723,60240021,MC,"GREEN TIRE STITCHER, RADIAL NOT ALL CALIBRATIO...",None,TBM 11

In [11]:
df_map2[df_map2.MessageID == 9723]

,MessageID,PlcNr,Type,Name,Solution,EquipmentID
7243,9723,60240021,MC,"GREEN TIRE STITCHER, RADIAL NOT ALL CALIBRATIO...",None,TBM 11

This differnce exists in df_map2 so we will keep that as the master file.

In [12]:
p.printg(f'Alarm 1 start date: {p.ENDC} {df_alarm.TimeStamp.min()}{p.GREEN}  End Date: {p.ENDC} {df_alarm.TimeStamp.max()}')
p.printg(f'Alarm 2 start date: {p.ENDC} {df_alarm2.TimeStamp.min()}{p.GREEN}  End Date: {p.ENDC} {df_alarm2.TimeStamp.max()}')
p.printg(f'length 1: {p.ENDC} {len(df_alarm)}')
p.printg(f'length 2: {p.ENDC} {len(df_alarm2)}')

Alarm 1 start date:  2022-02-01 00:00:30.6302739  End Date:  2022-05-15 23:59:57.9512792
Alarm 2 start date:  2022-05-15 00:00:00.5584421  End Date:  2022-05-15 23:59:57.9512792
length 1:  8600975
length 2:  90225

In [13]:
df_alarm_join = pd.concat([df_alarm, df_alarm2]).drop_duplicates()

In [14]:
df_map2.to_pickle("./pkl/df_map_master.pkl")
df_alarm_join.to_pickle("./pkl/df_alarm_master.pkl")
df_tbm_join.to_pickle("./pkl/df_tbm_master.pkl")